name: Github Actions Deploy Demo z uporabo akcije

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed

jobs:
  build_and_push_docker_image:
    runs-on: self-hosted
    steps:
      - name: Checkout repozitorija
        uses: actions/checkout@v2
      
      - name: Trenutni Äas
        id: datum
        run: echo "date=$(date +'%Y-%m-%d--%M-%S')" >> "$GITHUB_ENV"
      
      - name: Potisni na docker hub z akcijo
        uses: mr-smithers-excellent/docker-build-push@v6
        with:
          username: ${{ env.DOCKER_USERNAME }}
          password: ${{ env.DOCKER_PASSWORD }}
          registry: docker.io
          dockerfile: Dockerfile
          tags: $date
          image: ${{env.DOCKER_USERNAME}}/${{ env.REPONAME }}
